<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Finger+Paint&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <!-- css -->
    <link href="../styles/main.css" rel="stylesheet">
    <link href="../styles/dashboard.css" rel="stylesheet">

    <!-- emoji -->
    <script src="https://kit.fontawesome.com/529164580a.js" crossorigin="anonymous"></script>

    <title>DASHBOARD</title>
</head>

<body id="login-page">
    <div class="logo-and-menu">
        <div class="logo">
            <img src="../logo/bookshelf.png" alt="Minecraft bookshelf">
            <h1>STUDY<br>TRACKER</h1>
        </div>
        <div class="menu">
            <button><i class="emoji fa-solid fa-house-chimney"></i><span class="label">DASHBOARD</span></button>
            <button><i class="emoji fa-solid fa-chart-simple"></i><span class="label">STATS</span></button>
            <button><i class="emoji fa-solid fa-book-open-reader"></i><span class="label">STUDY</span></button>
            <button><i class="emoji fa-solid fa-clock-rotate-left"></i><span class="label nowrap">TO DO</span></button>
            <button><i class="emoji fa-solid fa-circle-user"></i><span class="label">PROFILE</span></button>
            <button><i class="emoji fa-solid fa-right-to-bracket"></i><span class="label nowrap">LOG OUT</span></button>
        </div>
    </div>
</body>

</html>