<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Finger+Paint&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
    <!-- css -->
    <link href="public/styles/main.css" rel="stylesheet">
    <link href="public/styles/login.css" rel="stylesheet">
    
    <!-- emoji -->
    <script src="https://kit.fontawesome.com/529164580a.js" crossorigin="anonymous"></script>

    <link rel="icon" type="image/x-icon" href="/public/logo/favicon.ico">
    <title>LOGIN</title>
</head>
<body id="login-page" class="flex-row-center-center">
    <div class="flex-column-center-center">
        <img src="public/logo/bookshelf.png" alt="Minecraft bookshelf">
        <h1>STUDY TRACKER</h1>
        <form>
            <div class="form-control">            
                <i class="fa-solid fa-envelope"></i>
                <input type="email" placeholder="email">
            </div>
            <div class="form-control">
                <i class="fa-solid fa-lock"></i>
                <input type="password" placeholder="password">
            </div>
            <button type="submit">LOG IN <i class="fa-solid fa-right-to-bracket"></i></button>
        </form>
    </div>
</body>
</html>