#login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body {
    background-color: #DDF0FF;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#login-page > div {
    border: 1px solid #582630;
    padding: 3em;
    border-radius: 2em;
    background-color: #582630;
    width: 30%;
    height: calc(0.4 * 100vh);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    flex-direction: column;
}

#login-page > div > form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    padding: 1em;
}

#login-page > div > img {
    margin-top: -8.5em;
    width: 150px;
    height: 150px;
}

#login-page > div > h1 {
    font-family: "Finger Paint", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5em;
    color: #FEEEF1;
}

#login-page > div > form > input {
    width: 100%;
    border-radius: 1em;
    border: none;
    background-color: #FEEEF1;
    height: 2em;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #92817A;
    font-weight: bolder;
    padding-left: 1em;
    padding-right: 1em;
    box-sizing: border-box;
    text-align: center;
}

#login-page > div > form > button {
    background-color: #FEEEF1;
    color: #2F4858;
    width: 50%;
    height: 2em;
    border-radius: 1em;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    font-size: 1.5em;
    font-weight: bolder;
}

#login-page > div > form > button:hover {
    transform: scale(1.1);
    cursor: pointer;
}