:root {
    /* colors */
    --primary-bg: #DDF0FF;
    --primary-dark: #582630;
    --accent-bg: #FEEEF1;
    --text-color: #92817A;
    --button-color: #2F4858;

    /* fonts */
    --font-main: "Montserrat", sans-serif;
    --font-heading: "Finger Paint", sans-serif;

    --font-weight-normal: 400;
    --font-weight-bold: 700;

    --font-size-base: 1rem;
    --font-size-base-phones: 0.8rem;
    --font-size-heading: 2.5rem;
    --font-size-heading-tablets: 2rem;
    --font-size-heading-phones: 1.5rem;

    --font-style-normal: normal;
}


.flex-row-center-center,
.flex-column-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column-center-center {
    flex-direction: column;
}

/* login container */
#login-page>div {
    background-color: var(--primary-dark);
    border: 1px solid var(--primary-dark);
    padding: 3rem;
    border-radius: 2rem;
    width: 35rem;
    box-shadow:
        rgba(60, 64, 67, 0.3) 0px 1px 2px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

/* logo, title and form styling */
#login-page>div>img {
    width: 150px;
    height: 150px;
    margin-top: -8.5rem;
}

#login-page>div>h1 {
    font-family: var(--font-heading);
    font-size: var(--font-size-heading);
    font-weight: var(--font-weight-normal);
    font-style: var(--font-style-normal);
    color: var(--accent-bg);
}

#login-page>div>form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 35rem;
    padding: 1rem;
}

/* input fields */
.form-control {
    width: 35rem;
    position: relative;
}

.form-control>input {
    padding-left: 2.5rem;
}

.form-control>i {
    position: absolute;
    bottom: 0;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    color: var(--text-color);
}

input {
    width: 100%;
    height: 2rem;
    padding: 0 1rem 0 1rem;
    border: none;
    border-radius: 1rem;
    background-color: var(--accent-bg);
    box-shadow:
        rgb(204, 219, 232) 3px 3px 6px inset,
        rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    font-family: var(--font-main);
    font-optical-sizing: auto;
    font-style: var(--font-style-normal);
    font-weight: var(--font-weight-bold);
    color: var(--text-color);
    text-align: center;
    box-sizing: border-box;
}

/* button styling */
button {
    width: 14rem;
    margin-top: 1rem;
    height: 3rem;
    background-color: var(--accent-bg);
    color: var(--button-color);
    border: none;
    border-radius: 3rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    font-size: 1.5rem;
    font-weight: bolder;
    transition: transform 0.2s ease;
}

button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

/* responsive widths */
@media (max-width: 900px) {
    #login-page>div {
        width: 25rem;
    }

    #login-page>div>h1 {
        font-size: var(--font-size-heading-tablets);
    }

    .form-control {
        font-size: var(--font-size-base-phones);
        width: 25rem;
    }

    #login-page>div>form {
        width: 25rem;
    }

    button {
        font-size: 1.2rem;
    }
}

@media (max-width: 600px) {
    #login-page>div {
        width: 13rem;
    }

    #login-page>div>h1 {
        font-size: var(--font-size-heading-phones);
    }

    .form-control {
        font-size: var(--font-size-base-phones);
        width: 16rem;
    }

    #login-page>div>form {
        width: 16rem;
        padding: 0.5rem;
        gap: 1.5rem;
    }

    input {
        font-size: var(--font-size-base-phones);
    }

    button {
        width: 8rem;
        height: 2.5rem;
        font-size: 1rem;
    }
}