:root {
    /* colors */
    --primary-bg:      #DDF0FF;
    --primary-dark:    #582630;
    --accent-bg:       #FEEEF1;
    --text-color:      #92817A;
    --button-color:    #2F4858;

    /* fonts */
    --font-main:       "Montserrat", sans-serif;
    --font-heading:    "Finger Paint", sans-serif;

    --font-weight-normal: 400;
    --font-weight-bold:   700;
    --font-style-normal:  normal;

    --font-size-base:     0.7rem;
    --font-size-heading:  0.7rem;
    --font-size-menu:     2.2rem;
}

/* style */
body {
    margin: 0;
    padding: 0;
    font-family: var(--font-main);
    font-style: var(--font-style-normal);
    font-optical-sizing: auto;
    font-size: var(--font-size-heading);
}

/* page layout */
#login-page {
    height: 100vh;
    background-color: var(--primary-bg);
}

.logo-and-menu {
    display: grid;
    grid-template-columns: 1.7fr 3fr;
    grid-template-rows: auto auto;
}

/* logo and heading */
h1 {
    margin-top: 1rem;
    display: inline-block;
    font-family: var(--font-heading);
    color: var(--primary-dark);
}

.logo {
    display: flex;
    gap: 1rem;
    height: 100px;
    margin: 1rem 0 0 1rem;
}

/* style of the menu */
.menu {
    display: flex;
    align-items: flex-end;
    gap: 4rem;
    padding-left: 8rem;
    padding-bottom: 1rem;

    background-color: var(--primary-dark);
    border-radius: 0 0 0 50rem;

    box-shadow:
        rgba(60, 64, 67, 0.3) 0px 1px 2px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.menu > button {
    display: flex;
    flex-direction: column;
    background: none;
    border: none;
    cursor: pointer;
    font-family: var(--font-main);
    transition: transform 0.3s ease;
}

/* menu icons and labels */
.emoji {
    font-size: var(--font-size-menu);
    color: var(--accent-bg);
}

.menu .label {
    font-size: var(--font-size-base);
    font-family: var(--font-main);
    color: var(--accent-bg);
    opacity: 0;
    transform: translateY(-0.7rem);
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none;
}

/* hover effect on menu */
.menu > button:hover .emoji {
    transform: translateY(-0.7rem);
}

.menu > button:hover .label {
    opacity: 1;
    transform: translateY(0);
}

/* make menu not to move randomly */
.nowrap {
    white-space: nowrap;
}
